<!--
  Generated template for the CustomersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Clientes</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->

    <!--<ion-card *ngFor="let customer of customers; let i = index" (click)="toggleCard(i)">-->
        <!--<ion-card-header>-->

            <!--<small *ngIf="!customer.toggle">-->
                <!--{{ customer.address }} - {{ customer.city }}-->
            <!--</small>-->
        <!--</ion-card-header>-->

        <!--<div class="card-sumary" *ngIf="customer.toggle">-->
            <!--<div>-->
                <!--<strong>Endereço:</strong>-->
            <!--</div>-->
            <!--<div>-->
                <!--<strong>CEP:</strong> {{ customer.cep }}-->
            <!--</div>-->
            <!--<div>-->
                <!--<strong>Bairro:</strong> {{ customer.district }}-->
            <!--</div>-->
            <!--<div>-->
                <!--<strong>Cidade:</strong> {{ customer.city }}-->
            <!--</div>-->
            <!--<div>-->
                <!--<strong>Telefone:</strong> {{ customer.phone }}-->
            <!--</div>-->
        <!--</div>-->
    <!--</ion-card>-->

    <ion-card *ngFor="let customer of customers; let i = index" class="list-item" (click)="goToDetails(customer.id)">
        <div class="list-item__content">
            <div class="highlight">Cliente {{ customer.name }}</div>
            <div>Código: {{ customer.id }}</div>
            <div>Endereço: {{ customer.address }}</div>
            <div>Telefone: {{ customer.phone }}</div>
        </div>
    </ion-card>
</ion-content>
