<ion-header>
    <ion-navbar>
        <ion-title>{{ pageTitle }}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="create()">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="list-item">
        <ion-list>
            <ion-item>
                <ion-label stacked>Nome da lista</ion-label>
                <ion-input type="text" [(ngModel)]="list.title" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>

            <ion-item>
                <button ion-button color="blue" full (click)="loadProductModal()">Adicionar Produto</button>
            </ion-item>
        </ion-list>

        <ion-list class="product-list">
            <ion-item *ngFor="let product of list.order">
                <ion-avatar item-start>
                    <img src="assets/images/placeholder-60.jpg" alt="" width="60" height="60">
                </ion-avatar>

                <p class="highlight">{{ product.name || product.product.name }}</p>
                <p>Quantidade: {{ product.quantity }}</p>
                <p>Preço Un: {{ product.unit_price || product.price | currency:'BRL':'R$' }}</p>
                <p>Preço Total: {{ (product.unit_price || product.price) * product.quantity | currency:'BRL':'R$' }}</p>
            </ion-item>

            <ion-item *ngIf="list.order.length == 0">
                Nenhum produto adicionado
            </ion-item>
        </ion-list>
    </div>
</ion-content>
