<ion-header>
    <ion-navbar>
        <ion-title>{{ pageTitle }}</ion-title>

        <ion-buttons end *ngIf="currentUser.role == 1">
            <button ion-button icon-only (click)="goToForm()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar>
        <ion-segment [(ngModel)]="tab" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="products">
                Produtos
            </ion-segment-button>
            <ion-segment-button value="categories">
                Categorias
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Puxe para atualizar"
                refreshingSpinner="circles"
                refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <div [ngSwitch]="tab">
        <!-- Informações do pedido -->
        <div *ngSwitchCase="'products'">
            <ion-grid>
                <ion-row class="single-item">
                    <ion-col *ngFor="let product of products; let i = index" col-12 col-xl-3 col-lg-3 col-md-4>
                        <ion-item class="list-item">
                            <ion-avatar item-start>
                                <img src="assets/images/placeholder-60.jpg" alt="" width="60" height="60">
                            </ion-avatar>

                            <p class="highlight">{{ product.name }}</p>
                            <p>Categoria: {{ product.category ? product.category.name : 'Sem categoria' }}</p>
                            <p>Preço Un: {{ product.price | currency:'BRL':'R$' }}</p>
                            <p>Peso (kg): {{ product.weight | number:'1.3-3' }}</p>

                            <button ion-button clear item-end icon-only large class="options-button"
                                    (click)="showOptions(product.id, i)" *ngIf="currentUser.role == 1">
                                <ion-icon name="more"></ion-icon>
                            </button>
                        </ion-item>

                        <ion-item *ngIf="loaded && products.length == 0" class="list-item no-items">
                            Nenhum produto adicionado
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div *ngSwitchCase="'categories'">
            <ion-grid>
                <ion-row class="single-item" id="categories">
                    <ion-col *ngFor="let category of categories; let i = index" col-12 col-xl-3 col-lg-3 col-md-4>
                        <ion-item class="list-item">
                            <p class="highlight">{{ category.name }}</p>

                            <button ion-button clear item-end icon-only large class="options-button"
                                    (click)="showOptions(category.id, i)" *ngIf="currentUser.role == 1">
                                <ion-icon name="more"></ion-icon>
                            </button>
                        </ion-item>

                        <ion-item *ngIf="loaded && categories.length == 0" class="list-item no-items">
                            Nenhuma categoria adicionada
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
