page-order-view {
    @media screen and (min-width: map-get($screen-breakpoints, lg)) {
        .table-grid {

            ion-label {

                > div {

                    > div:nth-child(1) {
                        width: 40%;
                    }

                    > div:nth-child(2) {
                        width: 20%;
                    }

                    > div:nth-child(3) {
                        width: 20%;
                    }

                    > div:nth-child(4) {
                        width: 20%;
                    }
                }
            }
        }
    }
}
