<!--
  Generated template for the OrderViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title *ngIf="order">Pedido {{ order.id }}</ion-title>

        <!--<ion-buttons end>-->
            <!--<button ion-button icon-only (click)="goToForm()">-->
                <!--<ion-icon name="add"></ion-icon>-->
            <!--</button>-->
        <!--</ion-buttons>-->
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="list-item" *ngIf="order">
        <div class="list-item__header">Informações</div>

        <div class="list-item__content">
            <p class="highlight">Cliente {{ order.customer.name }}</p>
            <p>CNPJ: {{ order.customer.cnpj }}</p>
            <p>Endereço: {{ order.customer.address }}</p>
            <p>Data do pedido: {{ order.created_at | date: 'dd/MM/y hh:mm:ss' }}</p>
            <p>Data de entrega: {{ order.delivery_date | date: 'dd/MM/y' }}</p>
            <p>Comentários: {{ order.comments }}</p>
        </div>

        <div class="list-item__header">Pagamento</div>

        <div class="list-item__content">
            <p>Data de pagamento: {{ order.payment_date | date: 'dd/MM/y' }}</p>
            <p>Prestações: {{ order.installments }}</p>
        </div>

        <div class="list-item__header list__header">Produtos</div>

        <ion-list class="product-list">
            <ion-item *ngFor="let order_product of order.order_product; let i = index">
                <ion-avatar item-start>
                    <img src="assets/images/placeholder-60.jpg" alt="" width="60" height="60">
                </ion-avatar>

                <p class="highlight">{{ order_product.product.name }}</p>
                <p>Quantidade: {{ order_product.quantity }}</p>
                <p>Preço Un: {{ order_product.unit_price | currency:'BRL':'R$' }}</p>
                <p>Preço Total: {{ order_product.unit_price * order_product.quantity | currency:'BRL':'R$' }}</p>
            </ion-item>
        </ion-list>

        <ion-grid class="list-item__footer centered">
            <div>Valor total: {{ order.total | currency:'BRL':'R$' }}</div>
        </ion-grid>
    </div>
</ion-content>
