page-home {
    .scroll-content {
        display: flex;
        align-items: center;
    }

    button {
        &.button-clear-md,
        &.button-clear-ios {
            color: #FFF;
        }

        &.button-clear-md {
            text-transform: capitalize;
        }
    }

    #seller {
        color: #FFF;
        text-align: center;
    }

    #seller-image {
        margin-bottom: 1rem;

        > img {
            @include border-radius(50%);
        }
    }

    #seller-name {
        font-size: 1.8rem;
        margin-bottom: 0.25rem;
    }

    #seller-id {
        font-size: 1.3rem;
    }
}
