<!-- Cabeçalho -->
<ion-header>
    <ion-navbar>
        <ion-title>Frozen Salgados</ion-title>
    </ion-navbar>
</ion-header>

<!-- Conteúdo -->
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Puxe para atualizar"
                refreshingSpinner="circles"
                refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-grid>
        <ion-row>
            <ion-col col-5>
                <!-- Botões laterais -->
                <button ion-button (click)="goToCustomers()" clear full>
                    <ion-icon name="people"></ion-icon>
                    Clientes
                </button>

                <button ion-button (click)="goToOrders()" clear full>
                    <ion-icon name="clipboard"></ion-icon>
                    Pedidos
                </button>

                <button ion-button (click)="goToProducts()" clear full>
                    <ion-icon name="alarm"></ion-icon>
                    Produtos
                </button>

                <button ion-button (click)="goToUsers()" clear full *ngIf="currentUser.role == 1">
                    <ion-icon name="briefcase"></ion-icon>
                    Usuários
                </button>
            </ion-col>

            <ion-col col-7>
                <!-- Informações sobre o vendedor -->
                <div id="seller" (click)="goToUser()">
                    <div id="seller-image">
                        <img src="assets/images/placeholder-90.jpg" alt="" width="90" height="90">
                    </div>

                    <div id="seller-name" *ngIf="currentUser && currentUser.name">{{ currentUser.name }}</div>
                    <div id="seller-id" *ngIf="currentUser && currentUser.id">Vendedor #{{ currentUser.id }}</div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
