page-home {
    .scroll-content {
        display: flex;
        align-items: center;
    }

    ion-navbar {
        color: #FFF;

        & > .toolbar-background {
            background-color: transparent;
            border: 0 !important;
        }

        .toolbar-title {
            color: inherit;
        }
    }

    ion-content {
        background: url("../assets/images/background.jpg") center no-repeat;
        background-size: cover;
    }

    button {
        &.button-clear-md,
        &.button-clear-ios {
            color: #FFF;
        }

        &.button-clear-md {
            text-transform: capitalize;
        }
    }

    #seller {
        color: #FFF;
        text-align: center;
    }

    #seller-image {
        > img {
            @include border-radius(50%);
        }
    }

    #seller-name {
        font-size: 1.8rem;
    }
}
