page-home {
    .scroll-content {
        display: flex;
        align-items: center;
    }

    button {
        height: 7.5rem !important;
        margin: 1.8rem 0.2rem !important;

        &.button-clear-md,
        &.button-clear-ios {
            color: #FFF;
        }

        &.button-clear-md {
            text-transform: capitalize;
        }

        > .button-inner {
            -webkit-flex-flow: column nowrap;
            -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;

            > ion-icon {
                font-size: 3em;
                margin-bottom: 0.125em;
            }
        }
    }

    ion-row {
        align-items: center;
    }

    #seller {
        color: #FFF;
        text-align: center;
    }

    #seller-image {
        margin-bottom: 1rem;

        > img {
            @include border-radius(50%);
        }
    }

    #seller-name {
        font-size: 1.8rem;
        margin-bottom: 0.25rem;
    }

    #seller-id {
        font-size: 1.3rem;
    }
}
