// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

select-searchable {
    min-height: 35px;
    padding-left: 16px;
}

.header-md::after {
    content: none;
}

ion-header {

    ion-buttons {

        .hide-xs {
            margin-left: 0.5rem;
        }
    }
}

ion-avatar {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

ion-navbar {
    color: #FFF;

    & > .toolbar-background {
        background-color: transparent;
        border: 0 !important;
    }

    .toolbar-title {
        color: inherit;
    }
}

ion-content {
    background: url("../assets/images/background.jpg") center no-repeat;
    background-size: cover;

    > .scroll-content {
        background-color: transparent !important;
        border-top: none !important;
    }
}

@media screen and (min-width: 768px) {
    ion-content {
        background-size: auto;
        background-repeat: repeat;
    }
}

.list-item {
    background-color: #FFF;
    @include border-radius(0.5rem);
    margin: 1rem;
    padding: 1.5rem 1.5rem;
    width: auto;

    &.no-items {
        padding-bottom: 0;
        padding-top: 0;
    }

    &.transparent {
        background-color: transparent;
    }

    &,
    p {
        font-size: 1em;
    }

    p {
        line-height: 1.25;
        margin: 0;
    }

    .list-item__header {
        border-bottom: 1px solid #f0f0f0;
        color: #737373;
        font-size: 0.714em;
        margin-bottom: 1em;
        margin-top: 1em;
        padding-bottom: 1em;
        text-transform: uppercase;

        &:first-child {
            margin-top: 0;
        }

        &.list__header {
            margin-bottom: 0;

            & + .list-md {
                margin-top: 0;
            }
        }
    }

    .highlight,
    .list-item__footer {
        color: #3b5998;
        font-weight: 500;
    }

    > .list,
    .list-item__content {
        color: #a2a2a2;
        padding-bottom: 0.5em;

        ion-item {
            font-size: 1em;

            ion-avatar img {
                height: auto;
                width: auto;
            }

            p:not(.highlight) {
                color: #a2a2a2;
            }
        }
    }

    > .list {
        margin-bottom: 0;
        padding-bottom: 0;

        .item,
        form > .item {
            color: #737373;
            padding-left: 0;

            &:last-child {
                border-bottom: 0;
            }

            > .item-inner {
                border-bottom: none;
                padding-right: 0;

                ion-label {
                    color: inherit;
                    margin-bottom: 0;
                    margin-right: 0;
                }

                ion-input,
                ion-select,
                ion-textarea,
                ion-datetime {
                    background-color: #efefef;
                    padding-left: 16px;
                }

                ion-datetime {
                    padding-bottom: 8px;
                    padding-top: 8px;
                }
            }
        }

        &.product-list {
            margin-bottom: 1rem;

            .item {
                > ion-avatar {
                    margin-bottom: 0;
                    margin-top: 0;
                }

                > .item-inner {
                    ion-label {
                        margin: 1em 0;
                    }

                    border-bottom: 1px solid #f6f7fa;
                }

                &:last-child {
                    > .item-inner {
                        border-bottom: 0;

                        ion-label {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .list-item__footer {
        border-top: 1px solid #f0f2f7;
        margin: 0 -1em;
        padding: 1em 1em 0;
        width: auto;
        white-space: normal;

        ion-col {
            padding: 0;

            &:last-child {
                text-align: right;
            }
        }

        &.centered {
            text-align: center;
        }
    }
}

ion-col > .list-item {
    margin: 0;
}

.list-ios > .item-block:last-child,
.list-ios > .item-block:first-child,
.list-ios > .item-wrapper:last-child .item-block{
    border: 0;
}

.field-form-label {
    font-size: 1.2rem;
}

ion-modal {
    .back-button {
        display: block !important
    }
}

.bar-button-default-wp,
.bar-button-default-md,
.bar-button-default-ios {
    color: rgba(255, 255, 255, .8);
}

// List
ion-list {

    > ion-item,
    > form > ion-item {

        &:first-child {

            > .item-inner {

                ion-label {
                    margin-top: 0;
                }
            }
        }
    }
}

ion-col,
ion-list {

    > ion-item,
    > form > ion-item {

        > .item-inner {
            border-bottom: 0 !important;
            color: #737373;
            padding-right: 0 !important;

            .item-button {
                font-size: 1.4rem;
                height: 3.6rem;
            }

            > .options-button {
                margin: 0 !important;

                > .button-inner {
                    color: #3b5998;
                    font-size: 1.6rem;
                }
            }
        }

        ion-label {

            > div {
                cursor: pointer;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    &.single-item {

        > ion-item {

            > .item-inner {
                border-bottom: none !important;

                ion-label {
                    margin-bottom: 0;
                    margin-top: 0;

                    > div {

                        > div {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }

    // Form
    > form {

        > ion-item {

            > .item-inner {
                border-bottom: 0 !important;
                box-shadow: none !important;

                > button {
                    height: 3.3rem !important;
                    margin-bottom: 0 !important;
                    margin-right: 0 !important;
                    margin-top: 2.7rem !important;
                }
            }

            &:first-child {

                > .item-inner {

                    > button {
                        margin-top: 1.4rem !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    ion-col {
        &.single-item {

            > ion-item {
                margin: 0;
            }
        }
    }
}

form {

    > .error {
        color: red;
        font-size: 1.2rem;
        font-weight: 400;
        margin-top: 1rem;
    }
}

.scroll-content {
    padding-bottom:0!important;
}

.alert-sub-title {
    > ul {
        margin-bottom: 0;

        > li {
            font-size: 1.5rem;
            line-height: 1.5em;
        }
    }
}

.toolbar-background {
    background-color: transparent !important;
    border: none !important;
}

.toolbar-title-md,
.segment-md .segment-button {
    color: #FFF;
}

.searchbar-md {
    padding: 0 0 8px;
}

@media screen and (min-width: map-get($screen-breakpoints, lg)) {
    // Table
    .table-grid {
        margin-bottom: 3rem;

        &.table-grid--product-list {
            border: 1px solid #f0f0f0;
            margin-left: -0.5rem;
            margin-right: -0.5rem;
        }

        ion-label {

            > div {
                display: flex;
                padding: 1.5rem 0 !important;

                > div {
                    padding: 0 1.5rem;
                }
            }
        }

        // Table with gap
        &:not(.has-gap) {

            > ion-col {

                > ion-item {
                    padding-right: 0;
                }
            }
        }

        > ion-col {

            &,
            > ion-item {
                padding-bottom: 0;
                padding-top: 0;
            }

            > ion-item {
                border-radius: 0;
                padding-left: 0;
            }

            // Options button
            .item-inner {

                > .options-button {
                    margin-right: 1.5rem !important;
                }
            }

            // Header
            &.table-grid--header {
                * {
                    cursor: default;
                }

                ion-label {

                    > div {
                        padding: 0.5rem 0;
                        width: 100%;
                    }
                }

                > ion-item {

                    ion-label {
                        font-size: 1.4rem;
                        margin: 0;
                    }
                }

                // Item gap
                &.has-gap {

                    > ion-item {
                        padding-right: 6.1rem;
                    }
                }
            }

            // Striped
            &:nth-child(even) {

                > ion-item {
                    background-color: #F1F1F1;
                }
            }
        }
    }
}

@each $size, $size-value in $screen-breakpoints {
    .hide-#{$size} {
        @media (min-width: $size-value) {
            display: none;
        }
    }

    .show-#{$size} {
        @media (min-width: $size-value) {
            display: block;
        }
    }
}
