// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.header-md::after {
    content: none;
}

ion-navbar {
    color: #FFF;

    & > .toolbar-background {
        background-color: transparent;
        border: 0 !important;
    }

    .toolbar-title {
        color: inherit;
    }
}

ion-content {
    background: url("../assets/images/background.jpg") center no-repeat;
    background-size: cover;
}

.list-item {
    background-color: #FFF;
    border-radius: 5px;
    margin: 10px;
    padding: 1em 1em 0.5em;

    &,
    p {
        font-size: 1em;
    }

    p {
        line-height: 1.25;
        margin: 0;
    }

    > .list-item__header {
        border-bottom: 1px solid #f0f0f0;
        color: #737373;
        font-size: 0.714em;
        margin-bottom: 1em;
        padding-bottom: 1em;
        text-transform: uppercase;
    }

    .highlight,
    > .list-item__footer {
        color: #3b5998;
        font-weight: 500;
    }

    > .list,
    > .list-item__content {
        color: #a2a2a2;
        padding-bottom: 0.5em;

        ion-item {
            font-size: 1em;

            ion-avatar img {
                height: auto;
                width: auto;
            }

            p:not(.highlight) {
                color: #a2a2a2;
            }
        }
    }

    > .list {
        margin-bottom: 0;
        padding-bottom: 0;

        > .item {
            color: #737373;
            padding-left: 0;

            > .item-inner {
                border-bottom: none;
                padding-right: 0;

                ion-label {
                    color: inherit;
                    margin-bottom: 0;
                }

                ion-input,
                ion-select {
                    background-color: #efefef;
                    padding-left: 16px;
                }
            }
        }

        &.product-list {
            > .item {
                > ion-avatar {
                    margin-bottom: 0;
                    margin-top: 0;
                }

                > .item-inner {
                    ion-label {
                        margin: 1em 0;
                    }

                    border-bottom: 1px solid #f6f7fa;
                }

                &:last-child > .item-inner {
                    border-bottom: 0;
                }
            }
        }
    }

    > .list-item__footer {
        border-top: 1px solid #f0f2f7;
        margin: 0 -1em;
        padding: 0.5em 1em 0;
        width: auto;

        ion-col {
            padding: 0;

            &:last-child {
                text-align: right;
            }
        }

        &.centered {
            font-size: 1.2em;
            text-align: center;
        }
    }
}

.list-ios > .item-block:last-child,
.list-ios > .item-block:first-child,
.list-ios > .item-wrapper:last-child .item-block{
    border: 0;
}

.field-form-label {
    font-size: 1.2rem;
}

ion-modal {
    .back-button {
        display: block!important
    }
}