page-reports {
    .button-clear-wp,
    .button-clear-md,
    .button-clear-ios {
        color: #FFF;
    }

    .button-clear-md {
        border-top: 1px solid rgba(255, 255, 255, .2);
        text-transform: capitalize;

        &:last-child {
            border-bottom: 1px solid rgba(255, 255, 255, .2);
        }
    }
}
