<ion-header>
    <ion-navbar>
        <ion-title>Pedidos</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="goToForm()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Puxe para atualizar"
                refreshingSpinner="circles"
                refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-grid>
        <ion-row class="single-item">
            <ion-col *ngFor="let order of orders; let i = index" col-12 col-xl-3 col-lg-3 col-md-4 (click)="goToDetails(order.id)">
                <ion-item class="list-item">
                    <div class="list-item__content">
                        <div class="highlight">Pedido: {{ order.id }}</div>
                        <div>Data: {{ order.created_at | date: 'dd/MM/y hh:mm:ss' }}</div>
                        <div>Status: {{ order.status == 1 ? 'Pedido' : order.status == 2 ? 'Bonificação' : 'Troca' }}</div>
                    </div>

                    <ion-grid class="list-item__footer">
                        <ion-row>
                            <ion-col col-6>
                                <div>Cliente: {{ order.customer.name }}</div>
                            </ion-col>
                            <ion-col col-6>
                                <div>Total: {{ order.total | currency:'BRL':'R$' }}</div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-col>

            <ion-col *ngIf="loaded && orders.length == 0" class="list-item no-items">
                <ion-item>
                    Nenhum pedido realizado
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
