<ion-header>
    <ion-navbar>
        <ion-title>Pedidos</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="doRefresh()">
                <ion-icon name="refresh"></ion-icon>
                <span class="hide-xs hide-sm show-lg show-xl">Atualizar</span>
            </button>

            <button ion-button icon-only (click)="goToForm()">
                <ion-icon name="add"></ion-icon>
                <span class="hide-xs hide-sm show-lg show-xl">Novo pedido</span>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <ion-searchbar (input)="filterItems($event)" placeholder="Pesquisar por cliente"></ion-searchbar>
            </ion-col>
        </ion-row>

        <ion-row class="table-grid single-item table-grid--orders has-gap">
            <ion-col class="table-grid--header hide-xs hide-sm show-lg show-xl">
                <ion-item>
                    <div>
                        <div>#</div>
                        <div>Data do pedido</div>
                        <div>Status</div>
                        <div class="highlight">Cliente</div>
                        <div class="highlight">Total</div>
                    </div>
                </ion-item>
            </ion-col>

            <ion-col *ngFor="let order of filteredItems; let i = index" col-12 col-xl-12 col-lg-12 col-md-6
                     class="single-item" [ngClass]="order.was_read ? 'was-read' : ''">
                <ion-item class="list-item">
                    <div class="list-item__content" (click)="goToDetails(order.id)">
                        <div class="highlight">
                            <span class="hide-lg">Pedido:</span>
                            {{ order.id }}
                        </div>
                        <div>
                            <span class="hide-lg">Data:</span>
                            {{ order.created_at | date: 'dd/MM/y hh:mm:ss' }}
                        </div>
                        <div>
                            <span class="hide-lg">Status:</span>
                            {{ order.status == 1 ? 'Pedido' : order.status == 2 ? 'Bonificação' : 'Troca' }}
                        </div>
                        <div class="highlight">
                            <span class="hide-lg">Cliente:</span>
                            {{ order.customer.name }}
                        </div>
                        <div class="highlight">
                            <span class="hide-lg">Total:</span>
                            {{ order.total | currency:'BRL':'R$' }}
                        </div>
                    </div>

                    <button ion-button clear item-end icon-only large class="options-button"
                            (click)="showOptions(order.id, i)">
                        <ion-icon name="more"></ion-icon>
                    </button>
                </ion-item>
            </ion-col>

            <ion-col *ngIf="loaded && filteredItems.length == 0" col-12 col-xl-12 col-lg-12 col-md-6
                     class="single-item">
                <ion-item class="list-item no-items">
                    Nenhum pedido realizado
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
