<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Pedidos</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="goToForm()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list class="single-item">
        <ion-item *ngFor="let order of orders; let i = index" class="list-item" (click)="goToDetails(order.id)">
            <div class="list-item__content">
                <div class="highlight">Pedido: {{ order.id }}</div>
                <div>Data: {{ order.created_at | date: 'dd/MM/y' }}</div>
                <div>Status: {{ order.status }}</div>
            </div>

            <ion-grid class="list-item__footer">
                <ion-row>
                    <ion-col col-6>
                        <div>Cliente: {{ order.customer.name }}</div>
                    </ion-col>
                    <ion-col col-6>
                        <div>Total: {{ order.total | currency:'BRL':'R$' }}</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item *ngIf="loaded && orders.length == 0" class="list-item no-items">
            Nenhum pedido realizado
        </ion-item>
    </ion-list>
</ion-content>
