page-users {
    .deleted {
        opacity: .5;
    }

    @media screen and (min-width: map-get($screen-breakpoints, lg)) {
        .table-grid {

            ion-label {

                > div {

                    > div:nth-child(1) {
                        width: 40%;
                    }

                    > div:nth-child(2) {
                        width: 30%;
                    }

                    > div:nth-child(3) {
                        width: 30%;
                    }
                }
            }
        }
    }
}
