page-order-form {
    .payment-date {
        padding: 0;

        .col {
            padding-bottom: 0;
            padding-top: 0;

            &:nth-child(1) {
                padding-left: 0;
            }

            &:nth-child(2) {
                padding-right: 0;
            }
        }
    }

    .add-product-button {
        margin-bottom: 1rem;
    }

    .item-md {

        ion-label {
            font-size: 1.4rem;
        }

        > ion-avatar {

            > img {
                height: auto;
                width: auto;
            }
        }
    }

    @media screen and (min-width: map-get($screen-breakpoints, lg)) {
        .table-grid {

            ion-label {

                > div {

                    > div:nth-child(1) {
                        width: 40%;
                    }

                    > div:nth-child(2) {
                        width: 20%;
                    }

                    > div:nth-child(3) {
                        width: 20%;
                    }

                    > div:nth-child(4) {
                        width: 20%;
                    }
                }
            }
        }
    }
}
