page-order-form {
    .grid {
        padding: 0;

        .col {
            padding-bottom: 0;
            padding-top: 0;

            &:nth-child(1) {
                padding-left: 0;
            }

            &:nth-child(2) {
                padding-right: 0;
            }
        }
    }

    .add-product-button {
        margin-bottom: 1rem;
    }

    .item-md {

        ion-label {
            font-size: 1.4rem;
        }

        > ion-avatar {

            > img {
                height: auto;
                width: auto;
            }
        }
    }
}
