page-customers {

    ion-card-header {

        & > small {
            color: #454545;
            display: block;
        }
    }

    .card-sumary {
        color: #222;
        font-size: 1.3rem;
        padding: 0 16px 16px;

        > div {
            margin-bottom: 0.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media screen and (min-width: map-get($screen-breakpoints, lg)) {
        .table-grid--customers {

            ion-label {

                > div {

                    > div:nth-child(1) {
                        order: 2;
                        width: 30%;
                    }

                    > div:nth-child(2) {
                        order: 1;
                        width: 10%;
                    }

                    > div:nth-child(3) {
                        order: 3;
                        width: 40%;
                    }

                    > div:nth-child(4) {
                        order: 4;
                        width: 20%;
                    }
                }
            }
        }
    }
}
