<ion-header>
    <ion-navbar>
        <ion-title>Clientes</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="goToForm()">
                <ion-icon name="add"></ion-icon>
                <span class="hide-xs hide-sm show-lg show-xl">Adicionar</span>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Puxe para atualizar"
                refreshingSpinner="circles"
                refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <ion-searchbar (input)="filterItems($event)" placeholder="Pesquisar"></ion-searchbar>
            </ion-col>
        </ion-row>

        <ion-row class="table-grid table-grid--customers has-gap">
            <ion-col class="table-grid--header hide-xs hide-sm show-lg show-xl">
                <ion-item>
                    <div>
                        <div class="highlight">Nome</div>
                        <div>#</div>
                        <div>Endereço</div>
                        <div>Telefone</div>
                    </div>
                </ion-item>
            </ion-col>

            <ion-col *ngFor="let customer of filteredItems; let i = index" col-12 col-xl-12 col-lg-12 col-md-6
                     class="single-item">
                <ion-item class="list-item">
                    <div (click)="goToDetails(customer.id)">
                        <div class="highlight">
                            <span class="hide-lg">Cliente</span>
                            {{ customer.name }}
                        </div>
                        <div>
                            <span class="hide-lg">Código:</span>
                            {{ customer.id }}
                        </div>
                        <div>
                            <span class="hide-lg">Endereço:</span>
                            {{ customer.address }}, {{ customer.address_number }}
                        </div>
                        <div>
                            <span class="hide-lg">Telefone:</span>
                            {{ customer.phone }}
                        </div>
                    </div>

                    <button ion-button clear item-end icon-only large class="options-button"
                            (click)="showOptions(customer.id, i)">
                        <ion-icon name="more"></ion-icon>
                    </button>
                </ion-item>
            </ion-col>

            <ion-col *ngIf="loaded && filteredItems.length == 0" col-12 col-xl-12 col-lg-12 col-md-6
                     class="single-item">
                <ion-item class="list-item no-items">
                    Nenhum cliente atendido
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
