page-customers {
    ion-card-header {
        & > small {
            color: #454545;
            display: block;
        }
    }

    .card-sumary {
        color: #222;
        font-size: 1.3rem;
        padding: 0 16px 16px;

        > div {
            margin-bottom: 0.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
