<!-- Generated template for the ReportPopoverComponent component -->
<div>
    <ion-list>
        <ion-item-divider>
            Período
        </ion-item-divider>

        <ion-item>
            <ion-label>De</ion-label>
            <ion-datetime displayFormat="DDD DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="from"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Até</ion-label>
            <ion-datetime displayFormat="DDD DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="to"></ion-datetime>
        </ion-item>

        <ion-item-divider>
            Opções
        </ion-item-divider>

        <button ion-item (click)="clear()">Limpar filtro</button>
        <button ion-item (click)="save()">Aplicar filtro</button>
    </ion-list>
</div>
